.col-xs-2{
    background:#00f;
    color:#FFF;
}
.colHalfOffset{
    margin-left:4.166666667%
}
.width21{
    width: 21% !important;
}
.widthAuto{
    width: auto !important;
}
.statIcon{
    font-size: 30px;
    float: left;
    margin-right: 14px;
}
.statTxt{
    font-size: 10px;
}

.blue{
    color: blue;
}
.purple{
    color: purple;
}
.orange{
    color: orange;    
}
.info{
    color: #1eaaff;
}
.green{
    color: greenyellow;
}